{% extends 'inventory/index.html' %}

{% block asset %}
<div class="row text-center justify-content-center">
   <div class="col-3">
        <div class="card border" id="asset-card">
            <div class="card-header text-white">
                    {{ asset.megnevezes }}
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li>Vonalkod: {{ asset.vonalkod }}</li>
                    {% if asset.gep_szam %}
                        <li>Gépszám: {{ asset.gep_szam }}</li>
                    {% endif %}
                    <li>
                        <ul class="list-group">
                            Jelenlegi felhasznalo:
                            <li class="list-group-item">
                                <a href="{% url 'inventory:user' asset.user.id %}">{{ asset.user.nev }}</a>
                            </li>
                            <li class="list-group-item">
                                Átadás másik felhasználónak:
                                <form action="{% url 'inventory:modify' asset.id %}" method="post">
                                    {% csrf_token %}
                                    <select class="form-select" name="user">
                                        {% for user in users %}
                                            {% if user != asset.user and user.id != 1 and user.id != 2%}
                                                <option value="{{ user.id }}">
                                                    {{ user.nev }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <button class="btn btn-primary mt-2" type="submit">Átadás</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <form action="{% url 'inventory:modify' asset.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-danger m-2" type="submit" name="selejt">
                                Selejt
                            </button>
                            <button class="btn btn-warning m-2" type="submit" name="raktar">
                                Raktár
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}