{% extends 'inventory/index.html' %}

{% block user %}
<div class="row text-center justify-content-center">
    <div class="col-3">
        <div class="card border" id="user-card">
            <div class="card-header text-white">
                    {{ user.nev }}
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li>Felhasználónév: {{ user.felhasznalo_nev }}</li>
                    <li>Szervezeti egység: {{ user.szervezeti_egyseg }}</li>
                    <li>Szobaszám: {{ user.szoba_szam }}</li>
                    <li>
                        <ul class="list-group">
                            Nevén van:
                            {% for asset in user.asset_set.all %}
                                <li class="list-group-item">
                                    <a href="{% url 'inventory:asset' asset.id %}">{{ asset }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}