<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FTO AI</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'inventory:index' %}">FTO Eszköznyilvántartás</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inventory:assets' %}">Eszközök</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'inventory:users' %}">Felhasználók</a>
                </li>
            </ul>
            <form class="d-flex" action="{% url 'inventory:results' %}" method="get">
                <input class="form-control me-2" id="search" name="q" type="search" placeholder="Név, gépszám, stb..." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Keresés</button>
            </form>
        </div>
    </nav>
</body>