{% extends 'inventory/index.html' %}

{% block user %}
<div class="row text-center justify-content-center">
    <div class="col-4">
        <div class="card text-white bg-dark mb-3 border border-success" id="user-card">
            <div class="card-header text-white">
                    {{ user.name }}
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li>Username: {{ user.username }}</li>
                    <li>Department: {{ user.department }}</li>
                    <li>Office: {{ user.office }}</li>
                    <li>
                        {% if user.asset_set.all %}
                            <ul class="list-group">
                                Items on user:
                                {% for asset in user.asset_set.all %}
                                <div class="row justify-content-md-center">
                                    <div class="col-5">
                                        <li class="list-group-item list-group-item-action">
                                            <a href="{% url 'inventory:asset' asset.id %}">{{ asset.designation }}</a>
                                        </li>
                                    </div>
                                </div>
                                {% endfor %}
                            </ul>
                        {% else %}
                            No items on the user.
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}